
.modal-backdrop.show{
    z-index: 0;
}




.glow-on-hover {
    width: 100px;
    height: 45px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    color: white;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 4px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
#offcanvasNavbar{
    background-color: #1b1b1b;
}
@media (max-width: 768px) {
    #offcanvasNavbar {
        width: 100%; /* Make the offcanvas menu take full width */
    }
}

#aboutSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Prevent it from taking up space */
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s; /* Add transition for opacity and visibility */
}

.about-container {
     background-color: white;
     padding: 30px;
     border-radius: 12px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     max-width: 90%; /* Adjust as needed */
     width: auto; /* Allow the container to shrink on smaller screens */
     margin: 0 auto;
     box-sizing: border-box; /* Include padding and border in element's total width and height */
 }

.about-container p {
    word-wrap: break-word; /* Allow long words to break */
    overflow-wrap: break-word; /* Alternative to word-wrap */
}

.about-container h2 {
    word-wrap: break-word;
    overflow-wrap: break-word;
}
#aboutSection.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0s; /* Adjust transition for visibility */
}

